@use "sass:map";

@mixin resetLink {
  text-decoration: none;
  color: inherit;
}

@mixin resetAll {
  all: unset;
}

@mixin bp($breakpoint) {
    $breakpoints: (
        "sm": 768px,
        "md": 1024px,
    );

    @media (max-width: map.get($breakpoints, $breakpoint)) {
        @content;
    }
}