$colors: (
  "brand-green": #85A795,
  "brand-blue": #B3C2C4,

  "bg-primary": #0A0A0A,

  "body": #D4D4D4,

  "border": #525252,

  "black": #000000,
  "white": #ffffff, 

  "error": #cc3b3bd5,
  "success": #1ead1ea4,

);

$gradients: (
  "brand": linear-gradient(225deg, var(--white) 100%, var(--brand-green) 0%),
);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
