.git
.github
.idea
.vscode

node_modules
vendor
laravel/node_modules
laravel/vendor

.env
.env.*
laravel/.env
laravel/.env.*

laravel/storage/logs/*
laravel/storage/framework/*

npm-debug.log
yarn-error.log

Dockerfile
docker-compose*.yml