APP_NAME=Budgie
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
APP_PORT=8080

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=budgie
DB_USERNAME=budgie
DB_PASSWORD=change-me
DB_FORWARD_PORT=5432

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

RUN_MIGRATIONS=false
AUTO_INSTALL_LARAVEL=false
