# Environment
.env
.env.*
!.env.example
!.env.*.example

# Dependencies
vendor/
node_modules/
laravel/vendor/
laravel/node_modules/

# Laravel
laravel/public/build/
laravel/public/hot
laravel/public/storage/

laravel/storage/*.key
laravel/storage/pail/
laravel/storage/framework/cache/*
laravel/storage/framework/sessions/*
laravel/storage/framework/views/*
laravel/storage/logs/*
laravel/bootstrap/cache/*.php

!laravel/storage/framework/.gitignore
!laravel/storage/logs/.gitignore

# Logs
*.log
.phpunit.result.cache
.phpunit.cache/

# IDE
.vscode/