@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
    .btn-primary {
        position: relative;

        display: inline-flex;
        align-items: center;
        gap: f.rem(12);

        height: f.rem(47);
        width: auto;
        padding: f.rem(4) f.rem(22) f.rem(4) f.rem(10);

        background-color: var(--brand-green);
        color: var(--black);
        cursor: pointer;
        border: none;

        border-radius: f.rem(999);
        border: none;
        overflow: hidden;
        text-decoration: none;

        font-size: f.rem(13);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;

        transition:
            color 0.35s ease,
            transform 0.3s ease;

        // couche noire animée
        &::before {
            content: "";

            position: absolute;
            inset: 0;

            background-color: var(--brand-green-hover);

            transform: translateX(-102%);
            transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);

            z-index: 0;
        }

        &__icon,
        &__text {
            position: relative;
            z-index: 1;
        }

        &__icon {
            width: f.rem(35);
            height: f.rem(35);

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--black);
            border-radius: 50%;
            flex-shrink: 0;

            transition:
            background-color 0.3s ease,
            transform 0.3s ease;

            svg {
                width: f.rem(18);
                height: f.rem(18);

                path {
                    fill: none;
                    stroke: var(--white);
                    stroke-width: 2.4;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }

        &:hover {
            color: var(--white);

            &::before {
                transform: translateX(0);
            }

            .btn-primary__icon {
                background-color: transparent;
                transform: translateX(f.rem(4));
            }
        }
    }

    .btn-secondary {
        position: relative;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        height: f.rem(47);
        min-width: f.rem(150);
        width: auto;
        padding: f.rem(4) f.rem(22);

        background-color: var(--brand-blue);
        color: var(--black);
        cursor: pointer;
        border: none;

        border-radius: f.rem(999);
        overflow: hidden;
        text-decoration: none;

        font-size: f.rem(13);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        span {
            position: relative;
            z-index: 1;

            transition: transform .3s ease;
        }

        &:hover {
            background-color: var(--brand-blue-hover);
        }

        // VERSION SIMPLE
        &.is-simple {
            height: auto;
            padding: 0;

            background-color: transparent;
            border-radius: 0;

            color: var(--white);

            &:hover {
                background-color: transparent;
                color: var(--brand-blue);
            }

            span {
                transform: none;
            }
        }
    }
}